body {
    background-color: #0e182a;
    margin: 0;
    padding: 0;
    font-family: 'Pirata One', cursive;
    background-image:url(./assets/12.jpg);
    background-size: cover;
    color: #f2b705;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 5rem;
    margin-top: 20px;
    margin-bottom: 2rem;
    transform-origin: center top;
    text-shadow: 2px 2px 5px #000;
    color: #f2b705;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b314d;
    padding: 3rem;
    border-radius: 1px;
    transform: scale(0.8);
    transform-origin: center top;
    margin-bottom:-7rem;
}

label {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    display: block;
    transform: scale(1.25);
    transform-origin: center top;
}

input[type=email],
input[type="text"],
input[type="password"]{
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 1.5rem;
    background-color: #ffe29a;
    color: #0e182a;
    box-shadow: 2px 2px 3px #000;
    max-width: 500px;
    width: 100%;
}

button[type="submit"] {
    font-size: 2.5rem;
    padding: 1rem 2.5rem;
    background-color: #f2b705;
    color: #0e182a;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button[type="nav"]{
    font-size: 1rem;
    background-color: #f2b705;
    color: #0e182a;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 0rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button[type="nav2"]{
    font-size: 1rem;
    background-color: #f2b705;
    color: #0e182a;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 5rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

a:hover,
button:hover {
    background-color: #ffe29a;
    color: #0e182a;
    transform: scale(1.1);
    transition: all 0.3s ease;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}